.matCard {
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mat-mdc-card-content {
    line-height: 2.5em;
    color: black;
}

.mat-icon.red {
    color: red !important;
}
.mat-icon.grey {
    color: grey !important;
}